<!DOCTYPE html>
<html>
  <head>
    <title>Verifikasi Email</title>
  </head>
  <body>
    <h1>Verifikasi Email Berhasil</h1>
    <p>
      Selamat! Verifikasi email Anda berhasil.
      <a href="http://localhost:3000/login" class="button"
        >Klik di sini untuk masuk</a
      >
    </p>
  </body>
</html>
