<!DOCTYPE html>
<html>
  <head>
    <title>Verifikasi Email</title>
  </head>
  <body>
    <h1>Verifikasi Email Gagal</h1>
    <p>
      Mohon maaf karena verifikasi email anda tidak berhasil. Ini bisa
      disebabkan oleh tautan verifikasi yang salah atau kadaluwarsa.
    </p>
    <p>
      Jika Anda mengklik tautan verifikasi setelah durasi yang lama, kemungkinan
      besar tautan tersebut sudah kedaluwarsa. Tautan verifikasi kami hanya
      berlaku selama 24 jam untuk alasan keamanan.
    </p>
    <p>
      <a href="http://localhost:3000/login" class="button"
        >Klik di sini untuk mendapaktan tautan verifikasi segar.</a
      >
    </p>
  </body>
</html>
